@import '../shared/buttons.scss';

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

p {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    margin: 15px;
}

.input-group {
    margin-bottom: 20px;
    display: block;
}

.error-message {
    color: #d95f02;
    display: none;
}

.valid {
    border-color: #1b9e77;
}

.invalid {
    border-color: #d95f02;
}